<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Site Design</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Kaushan+Script" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/css/bootstrap.css">

</head>

<body id="page-top">
  <%= yield %>
</body>

</html>
